
  


  

.imtixon{
    width: 717px;
    height: 2000px;
    margin: auto;
    font-family:"Inter";
    border: 2px solid blue;

}
.pcha{
    width: 130px;
    height: 19px;
    margin: 57px 538px 26px 64px;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 14px;


}
.container{
h1{
    margin: 10px 204px 51px 64px;
    width: 449px;
    height: 231px;
    font-size: 64px;


    font-weight: 700;
}
    
}
.span1{


    span{
    display: flex;
    margin: 51px 585px 13px 64px;
    font-size: 14px;
    font-weight: 400;
    width: 70px;
    height: 19px;
}
p{
    width: 650;
    top: 142px;
    height: 140;
    font-weight: 400;
    left: -202px;
    font-size: 20px;
    margin: 13px 46px 71px 64px;
}
}
.bord{
    span{
        width: 76px;
        height: 19px;
        top: 333px;
        left: -202px;
        font-size: 14px;
        font-weight: 400;
        margin: 603px 579px 71px 64px ;

    }
    h3{
        
        width: 231px;
        height: 120px;

        margin: 13px 422px 91px 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;


    }
}
.davom{
    p{
        margin: 91px 527px 47px 64px;
        width: 128px;
        height: 20px;
        font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;


    }

}
.rasmlar{
    img{
        width:200px ;
        height: 104px;
        
    }

}
.grup1{
    display: flex;
    justify-content: space-around;
    margin: 47px 0px 0px 64px;

}
.grup2{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px 0px 64px;
}
.img0{
    margin: 0px 38px 20px 20px;
}
.img1{
    margin: 0 0 0 20px;

}
.img01{
    margin: 0px 38px 20px 20px;
}
.img02{
    margin: 0px 0px 0px 20px;
}
.qism{
    width: 275px;
height: 60px;
font-family: Inter;
font-weight: 600;
font-size: 18px;
margin: 21px 394px 9px 64px;
}
.qism0{
    margin: 8px 457px 69px 64px;
  p{
    width: 220px;
    height: 15px;
    font-family: Inter;
font-weight: 400;
font-size: 14px;
  }
}
.rasmcha1{
margin: 0px 204px 45px 64px;
}
.salom{
    font-family: Inter;
font-weight: 600;
font-size: 18px;
margin: 0px 377px 24px 64px;
h3{
    width: 285px;
    height: 40px;
}
}
.salom1{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 392px 75px 64px;  
p{
    width: 271px;
    height: 15px;
}
}
.salom2{
    width: 110px;
height: 19px;
font-family: Inter;
font-weight: 400;
font-size: 14px;
margin: 0px 551px 24px 64px;
}
.foot0{
    margin: 0px 363px 45px 64px;
 width: 289px;
height: 48px;
font-family: Inter;
font-weight: 700;
font-size: 20px;
}